html,body { height: 100%;
            background-color: #55FF55;
            font-family: Sans-Serif;
        }

button {
    background-color: #000077;
    color: #CCCCCC;
}

.rounded-corners {
    border-radius: 10px;
}
input {
    background-color: #AA0000;
    color: #CCCCCC;
}

#header {
    font-size: 5em;
    text-align: center;
    background-color: black;
    margin-bottom: 1em;
    color: #AAAAFF;
}

.centered {
    margin: 0 auto;
    display: block;
}

.large {
    font-size: 2em;
} 


.button-row {
    width: 100%;
    flex: 1 1 auto;
}

.centered-button {
    margin:  auto;
    display: block;
    font-size: 4em;
}

.settings-box {
    margin: auto;
    width: 100%;
    height: 90%;
}

.base-settings {
    height: 60%;
    display: flex;
    flex-direction: column;
}

.quantity-row {
    display: flex;
    text-align: left;
    font-size: 4em;
    flex: 1 1 auto;
}

.player-row {
    background-color: #BBFFBB;
    margin: 2px;
}


.bottom {
    position: absolute;
    bottom: 0;
}

.quantity-row > .controls {
                margin-left: auto;
                margin-right: 0;
                order: 1;
                width: 30%;
                }

.quantity-row > .controls > .button {
                font-size: 1em;
                width: 20%;
}
.quantity-row > .controls > .left-button {
                margin-left: 0;
                margin-right: auto;
}

.quantity-row > .controls > .right-button{
                margin-left: auto;
                margin-right: 0;
}

.quantity-row > .controls > .number-display {
                width: 30%;
                margin-right: auto;
                margin-left: 0;
                display: inline-block;
                text-align: right;
}


.player-names {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.name-field {
    font-size: 4em;
    }


.player-container {
    width: 60%;
    margin: auto;
}

.player-area {
        width: 50%;
        margin: auto;
        display: flex;
        flex-direction: row;
    }

.player-name {order: 1;}
.player-plus {order: 4;}
.player-number {order: 3;}
.player-minus {order: 2;}

.good {
    color: green
}
.ok {
    color: orange
}
.danger {
    color: red
}
.high-danger {
    color: purple
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    text-align: center;
}
