.large {
    font-size: 2em;
}

.square-button {
    width: 100px;
    height: 100px;
}

.header {
    margin: auto;
    width: 60%;
}

.settings {
}

.settings-format {
    flex-direction: column;

}

.settings-format > .choose-value {
                display: flex;
                text-align: center;
                order: 1;
                }
.settings-format > .set-value {
                text-align: center;
                order: 2;}

.settings-format > .player-names {
}

.player-names {
}

.name-field {
    }

.players {
}

.player-container {
    width: 60%;
    margin: auto;
}

.player-area {
        width: 50%;
        margin: auto;
        display: flex;
        flex-direction: row;
    }

.player-name {order: 1;}
.player-plus {order: 4;}
.player-number {order: 3;}
.player-minus {order: 2;}

.good {
    color: green
}
.ok {
    color: orange
}
.danger {
    color: red
}
.high-danger {
    color: purple
}
